<div>{{uuid}}</div>

<table>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
        <th>Image</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>
            <img src="{{germany}}" />
        </td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>
            <img src="{{mexico}}" />
        </td>
    </tr>
</table>